/* custom CSS */
*{
    font-family: 'Montserrat', sans-serif;
}
.custom-border{
    border-bottom: 2px solid rgb(170, 170, 170);
}
.custom-input{
    padding: .3rem;
    border: 1px solid red;
    border-radius: 4px;
}
 